<img src="https://younglivingacademy.edu.ec/wp-content/uploads/2025/04/YLA.png" class="logo" alt="Logo">

{{#if success}}
<div
  style="color: green; font-weight: bold; position: absolute; fixedin-top: 20px; margin-right:20px; background-color: white; padding: 20px; border-radius: 20px; box-shadow: 0px 30px 20px #95b4a5;"
  id="messages">
  {{success}}
</div>
{{/if}}

{{#if error}}
<div
  style="color: red; font-weight: bold; position: fixed; margin-top: 20px; margin-left:20px; background-color: white; padding: 20px; border-radius: 20px; box-shadow: 0px 30px 20px #95b4a5;"
  id="messages">
  {{error}}
</div>
{{/if}}

<div class="container">
  <h2>Simulación de Lector de Código</h2>

  <form action="/asistir" method="POST" id="form">
    <input id="studentId" name="studentId" type="text" placeholder="Escanea o escribe el código" autofocus maxlength="9">
    <button type="submit" hidden>Verificar Asistencia</button>
  </form>

  <div style="margin-top: 30px">
    <a href="/lista">Ver lista de estudiantes</a>
  </div>

</div>



<script>
  // auto-hide flash messages after 5s
  setTimeout(() => {
    const messages = document.getDocumentById('messages');
    messages.forEach(m => m.style.display = 'none');
  }, 5000);
  
  const myForm = document.getElementById("form");
  const pincodeInput = document.getElementById("studentId");
  const requiredLength = 9; // Set the number of digits here

  pincodeInput.addEventListener("input", function() {
    // Check if the input value's length matches the required length
    if (this.value.length === requiredLength) {
      myForm.submit(); // Submit the form automatically
    }
  });
  </script>
